<!doctype html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <% include ../public/external_stylesheets %>

        <link rel="stylesheet" href="stylesheets/app.css">

        <title>Planet Earth Scapes</title>

    </head>

    <body class="landingBG">
        <section id="landing">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <article>
                            <h1>Planet Earth Scapes</h1>
                            <p>Welcome to most beautiful places on earth!</p>
                            <a href="/places" title="View All Places" class="btn btn-lg btn-outline-light">View All Scapes</a>
                        </article>
                    </div>
                </div>
            </div>
        </section>
       