<!doctype html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <% include ../public/external_stylesheets %>

        <link rel="stylesheet" href="stylesheets/app.css">
        
        <title>Hello, world!</title>
    </head>

    <body>
    <% include header %>
    
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <h1>Sign Up!</h1>
                            <input type="text" name="username" placeholder="Username" class="form-control form-control-lg">
                            <input type="password" name="password" placeholder="Create Password" class="form-control form-control-lg">
                            <button type="submit" class="btn btn-lg btn-outline-success">Sign Up</button>
                            <p class="mt-5">Already have an account?</p>
                            <a href="/login" class="text-center">Login here</a>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </section>

    <% include footer %>